/* Primer punto inicio CSS*/

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.link:hover{
    color: violet;
}
.contenedor-img{
    max-width: 500px;
}
.contenedor-p{
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    color:black;
    background-color: aquamarine;
}
/* Primer punto final CSS*/

/* Segundo punto inicio CSS*/
p{
    background-color: #f2f2f2;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}
/* Segundo punto final CSS*/

/* Tercer punto inicio CSS*/

.cuadricula{
    display: grid;
    grid-template-columns: repeat(4, auto);
    border: 1px solid black;
    gap: 20px;
    margin-bottom: 30px;
    background-color: aquamarine;
}
.imagen-grid{
    max-width: 300px;
    max-height: 150px;
}
/* Tercer punto final CSS*/

/* Cuarto punto inicio CSS*/

.colorboton{
    background-color: #28a745;
    width: 100%;
}

/* Cuarto punto final CSS*/


/* Quinto punto final CSS*/

.escondido{
    display: block;
    margin: auto;
    max-width: 500px;
}

@media screen and (max-width: 768px){
    .escondido{
        display: none;
    }
}

/* Quinto punto final CSS*/



/* EXTRAS */

.gugu{
    background-color: #7fffd4;
}

h1{
        background-color: aquamarine;
        text-align: center;
        font-size: 40px;
        color: red;
    }